/* .prod{
    background-image: url('src/assets/img/employee.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; 
      
} */