<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cancel purchase</h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Close click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="CancelPurchaseForm" (ngSubmit)="Submit()">
        
        <div class="input-group mb-3">
            <textarea class="form-control" rows="4" name="comment" placeholder="Reason..."
                formControlName="reason"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>

            <button type="submit" class="btn btn-primary"
                [disabled]="!CancelPurchaseForm.valid">Confirm</button>
        </div>
    </form>
  </div>