<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Product</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Close click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="AddCategory" (ngSubmit)="Submit()">
        <div class="input-group mb-3">
            <input class="form-control" type="text" name="name" placeholder="Title" formControlName="CategoryName">
        </div>


        <div class="input-group mb-3">
            <textarea class="form-control" rows="4" name="comment" placeholder="Comment"
                formControlName="Comment"></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!AddCategory.valid">Add</button>
        </div>
    </form>
</div>