<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Employee</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Close click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="EmployeeUpdateForm" (ngSubmit)="Submit()">
        <div class="input-group mb-3">
            <input class="form-control" type="text" name="firstName" placeholder="First Name" formControlName="firstName">
        </div>
        <div class="input-group mb-3">
            <input class="form-control" type="text" name="lastName" placeholder="Last Name" formControlName="lastName">
        </div>
        <div class="input-group mb-3">
            <input class="form-control" type="text" name="userName" placeholder="User Name" formControlName="userName">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!EmployeeUpdateForm.valid">Add</button>
        </div>
    </form>
</div>